.form__group {
  width: 30%;
  margin-bottom: 0;
}

.form__group input {
  border: 1px solid #7c8a972a;
  padding: 8px 12px;

  width: 100%;
  outline: none;
}
.form__group input::placeholder {
  color: #7c8a97;
}

.form {
  background: #fff;
  padding-top: 55px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__slider-section {
  position: relative;
  z-index: 10;
  margin-bottom: 200px;
}

.hero__form {
  position: absolute;
  bottom: -150px;
  z-index: 11;
  width: 100%;
}

.form__row {
  background: #fff;
  box-shadow: 5px 5px 15px -5px #7c8a97;
}

.add__car-btn {
  background: #000d6b !important;
  color: #fff !important;
  padding: 8px 15px;
  width: 100%;
  border: none;
  outline: none;
}

@media only screen and (max-width: 992px) {
  .form {
    padding: 30px 10px;
  }

  .form__group input {
    padding: 7px 10px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .form {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 576px) {
  .form__group {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
  }

  .form__group input {
    font-size: 0.7rem !important;
  }

  .add__car-btn {
    font-size: 0.8rem;
  }
}
